/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
    --ion-background-color: #f0f0f0; /* Define a cor de fundo global */
    --ion-background-color-rgb: 240, 240, 240; /* Define a cor de fundo global em RGB */
  }
  